body{
	background-color: #043436;
	margin: 0px;
}
.header{
  background-color: #07575B;
  height: 20%;
  width: 100%;
  top: 0;
  left: 0; 
}
.header h1{
	font-size: 40px;
	width: 60%;
	border-radius: 10px;
	background-color: white;
	color: #07575B;
	text-align: center;
}

.content{
	background-color: #043436;
}

h2{
	font-size: 25px;
}


.ki{
background-color: white;
  width: 90%;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  align-items: center;
}
.ki li{
	text-align: justify;
	font-size: 20px;
	line-height: 25px;
}
	.dapus{
		background-color: white;
		  width: 90%;
		  border: 2px solid black;
		  border-radius: 30px;
		  padding: 10px;
		  margin: 5px;
		  align-items: center;
		}
		.dapus p{
			text-align: justify;
			font-size: 20px;
		}

		.myButton {
			background-color:white;
			border-radius:13px;
			border:1px solid black;
			display:inline-block;
			cursor:pointer;
			color:#07575B;
			font-family:Arial;
			font-size:18px;
			font-weight:bold;
			padding:15px 25px;
			text-decoration:none;
		}
		.myButton:hover {
			background-color:#07575B;
			color: cyan;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}

/*Tampilan hp*/
@media screen and (max-width:760px){
	.header{
		float: left;
		width:100%;
		height:30%;
		background:none;
		font-family:arial;
		font-size:8pt;
		color:#32404E;
		text-align:center;
	}
	.laygambar{
		width:100%;
		height:auto;
		padding-top: 0;

	}
	.margin{
		padding-left: 23%;
	}
	.gambaricon{
		padding-top: 15%;
		width:auto;
	}
	.gambaricon:hover{
		transform: none;
		}
	.gambaricon img{
		width: 40%;
	}
	footer{
		width:60%;
		height:5%;
		margin-left: 20%;
		margin-bottom: 5%;
		font-size:6pt;
		margin-top: 25%;
		padding-top: 1%;
	}
	.kembali{
	float:left;
	width:100%;
	height:5%;
	}
	.kembali img{
		width: 10%;
		padding-left: 85%;
	}
}